@model IEnumerable<healthApp.Models.Services>
@{
    ViewBag.Title = "GetServices";
}
<div class="col-lg-2"></div>
<div class=" col-lg-8">
    <h2>Services for Client: @Html.DisplayFor(model => model.First().ClientFirstName) @Html.DisplayFor(model => model.First().ClientLastName)</h2>
    @foreach (var item in Model)
    {
        <table class="table table-striped">
            <thead style="padding:100px">
            <th colspan="4">
                <b>
                    @Html.DisplayNameFor(model => model.Task) :
                </b>
                @Html.DisplayFor(model => item.Task)
            </th>
            </thead>
            <tr>
                <td>
                    <b> @Html.DisplayNameFor(model => model.RoomNo) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.RoomNo)
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <b> @Html.DisplayNameFor(model => model.Task) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Task)
                </td>
                <td>
                    <b> @Html.DisplayNameFor(model => model.duration) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.duration)
                </td>
            </tr>

            <tr>
                <td>
                    <b> @Html.DisplayNameFor(model => model.dtStart) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.dtStart)
                </td>
                <td>
                    <b>@Html.DisplayNameFor(model => model.dtEnd) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.dtEnd)
                </td>
            </tr>

            <tr>
                <td>
                    <b> @Html.DisplayNameFor(model => model.freq) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.freq)
                </td>
                <td>
                    <b> @Html.DisplayNameFor(model => model.count) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => item.count)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit this Service", "../Services/Edit", new { id = item.ID })
                </td>
            </tr>
            <tr></tr>
        </table>
    }

    @Html.ActionLink("Back to Clients List", "Index", new { id = "" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to Client", "Details", new { id = Model.First().PatientID}, new { @class = "btn btn-default" })
</div>
<div class="col-lg-2"></div>